<body>
  <%= yield %>
  	<div class="heroPhoto u_/LocationPhotoDirectLink-g663088-Gaza_City_Gaza.html# fkASDF " onclick="">
<img alt="" width="1360" id="lazyload_-2087331841_4" src="//maps.google.com/maps/api/staticmap?&amp;channel=ta.desktop&amp;zoom=12&amp;size=650x367&amp;client=gme-tripadvisorinc&amp;sensor=false&amp;language=en_US&amp;center=31.526459,34.449692&amp;maptype=roadmap&amp;signature=MtNBNFbJTLaHfNResseZaoLXPpQ=">
</div>
</body>

<h1 class="page-title">GAZA Hotels</h1>
<p> <h3> Adam Hotel <h3> Alquds International Hotel </h3>  <h3>Arc-Med Hotel </h3>  <h3>Abu Hassera Hotel </h3> </p>


<div class="share-facebook "><i class="fa fa-facebook-official" aria-hidden="true"></i>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<a rel="nofollow" data-shared="sharing-facebook-740" class="share-facebook sd-button share-icon" href="http://travelpalestine.ps/gaza-2/gaza-attractions/?share=facebook&amp;nb=1" target="_blank" title="Share on Facebook">
		<span>Facebook<span class="share-count"> </span></span></a>
    </div>
   


															
							
	