
 

  <div class="container-fluid">
    <p id="notice"></p>

<h2>Learn about Gaza</h2>

<div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
  <%= image_tag("juresalm.jpg", class: "img-responsive my-image") %>

  <p class="p_name">Jerusalem the heart of Palestine</p>
  <p class="p_description">It is the central capital</p>
</div>
<div class="col-md-3 col-xs-6">
   <%= image_tag("flowerse.jpg", class: "img-responsive my-image") %>
  <p class="p_name">Gaza has beautiful flowers</p>
  <p class="p_description">Al-Jouri Flower</p>
</div>
<div class="col-md-3 col-xs-6">
    <%= image_tag("sea.jpg", class: "img-responsive my-image") %>
  <p class="p_name">Natural monuments</p>
  <p class="p_description">Gaza Sea the most puopulated</p>
</div>
<div class="col-md-3 col-xs-6">  
    <%= image_tag("brquq.jpg", class: "img-responsive my-image") %>
  <p class="p_name">Barqouq Castle in Khan Younis</p>
  <p class="p_description"></p>
</div>

      <!-- shorthand for  -->
          <!-- shorthand for: -->
    </div>
</div>

<br>


  </div> <!-- end container -->




