<h1>Hello in My New Application on Ruby & rails </h1>


<nav>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</nav>

<%= yield %>



<p>The first trial of ruby on rails</p>
<p>Welcome To you on Nermin Page | The date and time is <%= Time.now %></p>

<% test_variable = 42 %>





<footer>
  &copy; 2017 Nermin M. Mahdi
</footer>


