


<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
     
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Welcome In My  Trail App</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <img src="Sites\app\app\assetss/images/nero.jpg" class="img-responsive"/>
  </div>

    </div>
  </div>
</div>


